*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.contatos{
    width: 35%;
    height: 100%;
    padding: 8px; 
    border-right: 2px solid #000; 
     
}

.header-contatos{
    display: grid;
    height: 100px;
}


.header-contatos input{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 8px;
}

main{
    display: flex;
    height: 100%;
    margin-top: 28px;
}

.lista-contatos{
    display: grid;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    gap: 12px;
}

.contato{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px;
    padding-left: 0;
    gap: 12px;
    
}

.contato span{
    white-space: nowrap;
}

.contato-info{
    display: grid;
    align-items: center;
    height: 100%;
}


.imagem-contato{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: tomato;
}


.conversas{
    width: 100%;
    
}


.header-contato{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: gainsboro;
}

.contato-header{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}
.imagem-contato-header{
    height: 50px;
    width: 50px;
    background-color: tomato;
    border-radius: 50%;
}

.mensagens{
    height: 100%;
    margin-top: 30px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    background-color: rgb(230, 226, 221);
}

.mensagens p, span{
    border-radius: 32px;
    padding: 12px;
    max-width: 40%;
}

.mensagens p{
    align-self: flex-end;
    background-color: rgb(48, 179, 48);
    border-bottom-right-radius: 0;
}

.mensagens span{
    background-color: darkgray;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.input-mensagem{
    position: absolute;
    top: 90%;
    right: 0;
    left: 25%;
    bottom: 0;
    margin: auto;
    height: 50px;   
    width: 70%;
    border-radius: 24px;
    padding: 8px;
}