*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    
}
input{
    box-shadow: none;
    border-style: hidden;
}

.configuracoes{
    width: 3%;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 24px; 
}
.configuracoes button{
    height: 34px;
    width: 34px;
}

.contatos{
    width: 30%;
    height: 100%;
    padding: 8px; 
    border-right: 1px solid #000; 
    padding: 12px;
}

.header-contatos{
    display: grid;
    height: 100px;
}


.header-contatos input{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 8px;
    border-style: solid;
}

.contatos nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 18px;
    padding: 8px;
    padding-bottom: 0;
}
.contatos nav span{
    background-color: aliceblue;
}
.contatos nav span:hover{
    background-color: lightblue;
}

main{
    height: 100%;
    margin-top: 28px;
}

.lista-contatos{
    display: grid;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    gap: 12px;
    margin-top: 12px;
}


.contato{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px;
    gap: 12px;
}
.contato:hover{
    background-color: aliceblue;
    border-radius: 12px
}

.contato span{
    white-space: nowrap;
    padding: 0;
}

.contato-info{
    display: grid;
    align-items: center;
    height: 100%;
}


.imagem-contato{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: tomato;
}


.conversas{
    width: 100%;
}


.header-contato{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: gainsboro;
}

.contato-header{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}
.imagem-contato-header{
    height: 50px;
    width: 50px;
    background-color: tomato;
    border-radius: 50%;
}

.mensagens{
    height: 100%;
    margin-top: 30px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 20px;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    padding-bottom: 150px;
    padding-top: 100px;
    background-color: rgb(230, 226, 221);
}

.mensagens:hover{
    scrollbar-width: thin;
}

.mensagens p, span{
    border-radius: 24px;
    padding: 12px;
    max-width: 40%;
}

.mensagens p{
    align-self: flex-end;
    background-color: rgb(48, 179, 48);
    border-bottom-right-radius: 0;    
}

.mensagens span{
    background-color: darkgray;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.input-mensagem{
    position: absolute;
    top: 90%;
    right: 0;
    left: 26%;
    bottom: 0;
    margin: auto;
    height: 50px;   
    width: 70%;
    border-radius: 24px;
    padding: 8px;
}