*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 4px;
    overflow: hidden;
}

.contatos{
    width: 30%;
    height: 100%;
    padding: 8px; 
    border-right: 2px solid #000; 
     
}

header{
    display: grid;
    height: 100px;
}


header input{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 8px;
}

main{
    height: 100%;
    margin-top: 24px;
}

.lista-contatos{
    display: grid;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    gap: 4px;
}

.contato{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 12px;
    padding-left: 0;
    gap: 4px;
    
}

.contato span{
    white-space: nowrap;
}

.contato-info{
    display: grid;
    align-items: center;
    height: 100%;
}


.imagem-contato{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    background-color: tomato;
}