*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    color: white;
    font-family: roboto;
}
input{
    box-shadow: none;
    border-style: hidden;
}

.configuracoes{
    width: 3%;
    border-right: 2px solid #343636;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 24px; 
    background-color: #1D1F1F;
}
.configuracoes img{
    height: 24px;
    width: 24px;
}

.contatos{
    width: 35%;
    height: 100%;
    padding: 8px; 
    border-right: 2px solid #343636; 
    padding: 12px;
    background-color: #161717;
}

.header-contatos{
    display: grid;
    height: 100px;
}
.header-contatos h1{
    font-size: 24px;
}


.header-contatos input{
    width: 100%;
    height: 85%;
    border-radius: 24px;
    padding: 8px;
    border-style: none;
    background-color: #2E2F2F;
    padding-left: 10px;
}

.contatos nav{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 8px;
    font-size: 12px;
    padding: 8px;
    padding-bottom: 0;
    gap: 8px;
}
.contatos nav span{
    border: 2px solid #343636;
    padding: 8px;
    padding-inline: 12px;
}
.contatos nav span:hover{
    background-color: #2E2F2F;
}

main{
    height: 100%;
    margin-top: 28px;
}

.lista-contatos{
    display: grid;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    gap: 12px;
    margin-top: 12px;
}


.contato{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 8px;
    gap: 12px;
    padding-left: 8px;
}
.contato:hover{
    background-color: #2E2F2F;
    border-radius: 12px
}

.contato span{
    white-space: nowrap;
    padding: 0;
}

.contato-info{
    display: grid;
    align-items: center;
    height: 100%;
}

.contato-info h2{
    font-size: 20px;
}


.imagem-contato{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: tomato;
}


.conversas{
    width: 100%;
    background-image: url('./img/background-conversas.webp');
}


.header-contato{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #161717;
}

.contato-header{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    font-size: 12px;
}
.imagem-contato-header{
    height: 40px;
    width: 40px;
    background-color: tomato;
    border-radius: 50%;
}

.mensagens{
    height: 100%;
    margin-top: 30px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 20px;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    padding-bottom: 150px;
    padding-top: 100px;
}

.mensagens:hover{
    scrollbar-width: thin;
}

.mensagens p, span{
    border-radius: 24px;
    padding: 12px;
    max-width: 40%;
}

.mensagens p{
    align-self: flex-end;
    background-color: #144D37;
    border-bottom-right-radius: 0;    
}

.mensagens span{
    background-color: #242626;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.input-mensagem{
    position: absolute;
    top: 90%;
    right: 0;
    left: 28%;
    bottom: 0;
    margin: auto;
    height: 50px;   
    width: 70%;
    border-radius: 24px;
    padding: 8px;
    background-color: #2E2F2F;
}